{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Python 17 Web Projesi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo">Python 17 Web 
						
				</div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<span style="color:#FFF;" >
					{% if user.is_authenticated %}
					Merhaba {{user.username}}!
					<p><a href="{% url 'logout' %}">Çıkış</a></p>
					{% else %}
					<a href="{% url 'login' %}">Üye Giriş</a>
					<br>
					<a href="{% url 'signup' %}">Üye Kayıt</a>
					{% endif %}
				</span>
				<ul class="links">
					<li><a href="{% url 'home' %}">Ana Sayfa</a></li>
					<li><a href="{% url 'kayitliste' %}">Kayıtlar</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>{% block aciklama %} {% endblock %} </p>
						<h2>{% block baslik %} {% endblock %}</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
						{% block content %}
						{% endblock %}
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>